/*@font-face {
    font-family: 'Bangers';
    src: url("/assets/Bangers-Regular.ttf");
}*/

.text {
    -fx-font-family: "Bangers";
    -fx-font-size: 22px;
   
}
.alertBox .button {
    -fx-font-family: "Bangers";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: black;
}

.infobox {
    -fx-max-width: 270px;
    -fx-max-height: 60px;
}
.list-view-new{
    -fx-max-width: 267px;
}

.entername{
    -fx-background-color:white;
    -fx-font-size: 20px;
    -fx-font-family: "Bangers";
}

.text-field1{
    -fx-font-size: 20px;
   -fx-font-family: "Bangers";
}
.text-field1 .scroll-bar{
    -fx-background-color:transparent;
}
.text-field1 .scroll-bar:horizontal .thumb,
.text-field1  .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);

}

.main{
    -fx-background-image: url("/assets/background-1.png");
    -fx-background-size: cover;
}

.text-field1{
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/textfield.png");
    -fx-background-repeat:no-repeat;
}
.list-cell{
    -fx-text-fill: black;
}
.list-cell:filled:selected {
    -fx-text-fill:#009966;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.start-button, .use-button {
    -fx-background-image: url("/assets/1.png");

}
.start-button:hover, .use-button:hover{
    -fx-background-image: url("/assets/1-hover.png");
}
.load-button, .save-button {
    -fx-background-image: url("/assets/load.png");

}
.load-button:hover, .save-button:hover{
    -fx-background-image: url("/assets/load-hover.png");
}
.highscore-button {
    -fx-background-image: url("/assets/highscore-button.png");

}
.highscore-button:hover{
    -fx-background-image: url("/assets/highscore-button-hover.png");
}
.exit-button, .drop-button {
    -fx-background-image: url("/assets/exit-button.png");

}
.exit-button:hover, .drop-button:hover{
    -fx-background-image: url("/assets/exit-button-hover.png");
}
.button {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat:no-repeat;
    -fx-text-fill: black;
}